css

/* Altura para computadoras */
.carousel-img {
    height: 486px;
    object-fit: cover;
}

/* Altura para tablets */
@media (max-width: 992px) {
    .carousel-img {
        height: 280px;
    }
}

/* Altura para móviles */
@media (max-width: 640px) {
    .carousel-img {
        height: 180px; 
    }
}

/* Altura base para que el contenido no salte al cargar */
.custom-carousel {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s forwards;
    width: 100%;
    animation-delay: 0.2s; /* Otro tipo de delay vía CSS */
}

.custom-carousel .carousel-inner,
.custom-carousel .carousel-item {
    width: 100%;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.carousel-img {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16 / 5;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.carousel-img:hover {
    filter: brightness(1.1); /* Brilla un poco al pasar el mouse */
}

