.cart-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.offcanvas {
    background-color: #121212 !important; 
    color: white !important;
    width: 400px !important;
}

.offcanvas-header .btn-close {
    filter: invert(1); 
}

.btn:focus {
    box-shadow: none !important;
}

.item-carrito-container {
    transition: all 0.3s ease;
}

.cart-title {
    color: #0ef3f3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 499.98px) {
    .custom-cart-offcanvas.offcanvas {
        width: 80% !important; /* 💡 Deja libre un 20% en el lado izquierdo para mantener la consistencia con el Navbar */
        box-shadow: -5px 0 25px rgba(0, 0, 0, 0.6); /* Genera profundidad visual sobre el fondo de la tienda */
    }
}